@media screen and (max-width: 800px) {
  .mobileonly {
    display: block;
  }
  .mobilenav {
    font-size: 8vw;
  }
  main header .iconCluster {
    display: none;
  }

  .mobilenavcontent {
    position: absolute;
    background-color: #1a1919;
    padding: 5vw 0;
    width: 40vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .mobilenavcontent p {
    color: white;
    text-align: left;
    margin-left: 2vw;
  }
  .mobilenavcontent ul {
    list-style-type: none;
    padding: 5vw 2vw;
    margin-top: 5vh;
    /* background-color: #06113c; */
  }

  .mobilenavcontent ul .link {
    text-decoration: none;
    color: #ffffff;
  }

  .mobilenavcontent ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vw;
    padding: 1vw 1.5vw;
    color: 111010;
    background-color: transparent;
    margin-left: 2vw;
    margin-bottom: 5vw;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
  }

  .mobilenavcontent ul li .menu-icon {
    margin-right: 1vw;
    font-size: 5vw;
  }
  .mobilenavcontent .logoutbtn {
    margin-top: 30vh;
    color: red;
    font-weight: 500;
  }

  .form {
    text-align: center;
    background: hsla(0, 0%, 100%, 0.356);
    padding: 2.5vw;
    max-width: 90vw;
    margin: 5vh auto 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.171);
  }
  .form h1 {
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 800;
  }

  .form input {
    padding: 1vw;
    margin: 2vw 0;
    font-size: 5vw;
  }

  .form input::placeholder {
    font-size: 3vw;
  }

  .form select {
    width: 100%;
    cursor: pointer;
    padding: 0.7vw;
    margin: 2vw 0;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #06113c;
    background: transparent;
    outline: none;
    font-size: 3vw;
  }

  .form button {
    padding: 0.7vw 0;
    margin: 20px 0;
    font-size: 4vw;
  }

  .form p {
    font-size: 3vw;
  }

  .form p .link {
    text-decoration: none;
    color: red;
  }

  .error {
    color: rgb(255, 0, 0);
    text-align: left;
  }
  nav {
    display: none;
  }
  main section {
    display: block;
  }
  .dashboard {
    background-color: transparent;
    padding: 2vw 1vw;
    height: 90vh;
    display: block;
    margin: 0 auto;
    width: 90vw;
  }
  .dashboard .accountinfo {
    text-align: center;
    width: 100%;
    background-color: transparent;
  }
  .dashboard .accountinfo h3 {
    font-size: 2vw;
    letter-spacing: 2px;
  }

  .dashboard .accountinfo p {
    font-size: 2.3vw;
    font-weight: 700;
    margin-top: 2vw;
  }

  .dashboard .accountinfo .acctnum {
    font-size: 2vw;
    margin-bottom: 2vh;
  }
  .cardinfo {
    display: none;
  }
  .transaction .transacvalue {
    font-size: 2vw;
  }
  .transfer {
    width: 100vw;
  }
  .form2 {
    text-align: center;
    background: hsla(0, 0%, 100%, 0.356);
    padding: 2.5vw;
    max-width: 90%;
    margin: 40px auto;
    border-radius: 10px;
  }

  .form2 input {
    margin: 2vw 0;
    font-size: 2.2vw;
  }

  .form2 button {
    width: 50%;
    font-size: 2.5vw;
  }
  .walletcontainer .wallet {
    padding: 2vw 2vw;
    width: fit-content;
    height: fit-content;
  }
  .wallet h3 {
    font-size: 2vw;
    margin-bottom: 2vw;
  }
  .wallet p {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
  }

  .wallet-buttons button {
    font-size: 1vw;
    width: fit-content;
    background-color: #111010;
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0.8vw;
  }
  .mainwalletcontainer .createwallet {
    width: fit-content;
    padding: 2vw;

    font-size: 2vw;
    font-weight: 500;

    border-radius: 8px;
    margin: 0 auto;

    display: block;
  }
}
